body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(36, 36, 36);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    border-style: groove ;
    border-color: orange;
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(70, 70, 70);
    color: white;

}


#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;

}

button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgb(51, 50, 50);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: rgb(76, 76, 76);
}

button:active{
    background-color: rgb(118, 116, 116);
}

.CalcButtons {
    background-color: rgb(249, 165, 9);
}

.CalcButtons:hover {
    background-color: rgb(246, 174, 40);
}

.CalcButtons:active {
    background-color: rgb(255, 192, 74);

}