h2 {
    text-align: center;
}

body {
    background-color: rgb(42, 40, 40);

}
h1 {
    color: darkgoldenrod;
    text-align: center;
}

.topPart {
    border: 3px solid black;
    
}
p {
    color: white;
    font-family: sans-serif;
    text-align: center;
}

table {
    text-align: center;
    margin-left: 550px;
    margin-top: 30px;
}

form {
    margin: 100px;
    padding: 20px;
    line-height: 30px;

}
.tableTextColor {
    color: white;
}
